* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Tahoma, Arial;
}

.slider-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slider-container {
	margin: 10px auto;
	width: 480px;
	height: 300px;
	position: relative;
	box-shadow: 0 5px 25px rgba(0, 0, 0, .7);
}

.slider-container img {
	position: absolute;
	opacity: 0;
	transition: opacity 1s;
	z-index: 1;
	width: 480px;
	height: 300px;
}

.slider-container img.active {
	opacity: 1;
}

.slider-container .slide-number {
	position: absolute;
	left: 10px;
	top: 10px;
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
	padding: 5px 10px;
	font-size: 20px;
	z-index: 2;
	border-radius: 6px;
	
}

.slider-controls {
	width: 800px;
	/*margin: auto;*/
	overflow: hidden;
	display: flex;
	justify-content: space-around;
}

.slider-controls .prev,
.slider-controls .next {
	background-color: #009688;
	color: #fff;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	padding: 5px;
	user-select: none;
	width: 20%;
}

.slider-controls .prev {
	float: left;
}

.slider-controls .next {
	float: right;
}


.slider-controls .indicators ul {
	list-style: none;
	margin: 0;
	text-align: center;
	display: flex;
	

}

.slider-controls .indicators ul li {
	background-color: #f6f6f6;
	color: #333;
	font-weight: bold;
	height: 28px;
	width: 28px;
	border-radius: 4px;
	margin: 0 2px;
	line-height: 28px;
	cursor: pointer;
}

.slider-controls .indicators ul li.active {
	background-color: #009688;
	color: #fff;
}











